.hidden {
    display: none;
}

.visually-hidden {
    opacity: 0;
}

.card {
    background-color: #D0CFCF;
}

.card-body {
    color: #020402;
}

.card-link-wrapper {
    cursor:pointer;
    position: relative;

}

.card-link-wrapper:hover img {
    opacity: 0.8;
}

.card-link-wrapper:hover .card-link {
   opacity: 1;
}

.card-img-top {
    max-width: 220px;
    max-height: 320px;
    transition: .5s ease;
}

.card-link {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 85%;
    left: 10%;
    width: 80%;
    background-color: #D0CFCF;
}

.card-title {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.card-title:hover{
    color: inherit;
    text-decoration: underline;
}

.tab-content {
    display:none;
}

.tab-link, .tab-link:hover {
    color: inherit;
}